.about-container {
    background-image: url('/BG2.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Adjust the height as needed */
    color: white; /* Ensure text is visible */
    padding: 20px; /* Optional padding */
    position: relative;
  }
  .description{
    width: 600px;
    background-color: black;
    padding: 20px;
    margin-left: 30px;
  }
  .aboutme{
    color: #f5db0e;
    text-align: left;
  }
  .mydescription{
    text-align: left;
    color: white;
  }

    
  .aboutLine {
    position: absolute;
    top: 20px;
    left: 0px;
  }
  
  .aboutLeftline {
    width: 35px;
    height: 70px;
    background-color: #f5db0e;
    margin: 5px 0;
  }
  .aboutTopLine{
    position: absolute;
    top: -20px;
    right: 10px;
    display: flex;
    gap: 10px;
  }
  .aboutrightline{
    width: 15px;
    height: 90px;
    background-color: #f5db0e;
    margin: 5px 0;
  }
  
  @keyframes pulsate {
    0%, 100% {
      transform: scaleY(1);
      opacity: 1;
    }
    50% {
      transform: scaleY(1.5);
      opacity: 0.7;
    }
  }
  
  @keyframes moveUp {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }


@media (max-width: 1200px) {
  .description {
    width: 450px; /* Adjust description width */
    padding: 15px; /* Reduce padding for medium screens */
  }

  .aboutme {
    font-size: 1.8em; /* Slightly smaller font */
  }

  .mydescription {
    font-size: 24px; /* Slightly smaller font */
  }

  .aboutLeftline {
    width: 25px;
    height: 60px; /* Reduce size of the left line */
  }

  .aboutrightline {
    width: 15px;
    height: 90px; /* Reduce size of the right lines */
  }
}

@media (max-width: 768px) {
  
  .description {
    width: 500px; /* Further reduce width */
    padding: 10px; /* Further reduce padding */
  }

  .aboutme {
    font-size: 1.5em; /* Smaller font size */
  }

  .mydescription {
    font-size: 20px; /* Smaller font size */
  }


  .about-container {
    text-align: center; /* Center align text */
  }
}
