@import url('https://www.fontsaddict.com/fontface/museosans-500.otf');
.landingPage{
   background-color: black;
   font-family: 'MuseoSans-500', sans-serif;
   font-size: 32px;
   overflow: hidden;
}
/* dense font */