.react-datepicker__input-container input{
    width: 400px;
  }
  .react-datepicker-wrapper{
    width: 400px;
  }
  .PhoneInputInput {
    padding: 10px;
    color: black;
    background-color: #b1b2b3;
  }