.mapContainer {
    background-image: url('BG3.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh; /* Adjust the height as needed */
    color: white; /* Ensure text is visible */
    padding: 20px; /* Optional padding */
    
  }
  .orlando {
    position: absolute;
    top: 27%;
    left: 11%;
    width: 80px;
    height: 80px;
    background-color: black;  /* Background color for the pin */
    border-radius: 50% 50% 50% 0;  /* Map pin shape */
    transform: rotate(-45deg);  /* Rotate to point downwards */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);  /* Add shadow for effect */

    display: flex;
    justify-content: center;
    align-items: center;
}

.mapLogo {
    width: 50px;
    height: 50px;
    border-color: 1px solid black;
    object-fit: cover;  /* Ensures the image covers the entire div without distortion */
    transform: rotate(45deg);  /* Corrects the rotation for the image */
}

  .infoDiv{
    position: absolute;
    top: 50%; /* Move it 50% down from the top */
  right: 0; /* Align it to the right */
  transform: translateY(-50%);
  }
 
  .workSection{
    width: 300px;
    margin-right: 20px;
    padding: 10px; 
    
  }
  .workPlace{
    color: yellow;
    text-align: right;
  }
  .workDescription{
    text-align: right;
    color: rgb(180, 179, 176);
    animation: fadeInSlideUp 5s ease-out both;
  }

  @keyframes fadeInSlideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);  /* Start slightly below */
    }
    100% {
        opacity: 1;
        transform: translateY(0);  /* End in original position */
    }
}

  .workLine{
    position: absolute;
    top: 1px;
    right: 0px;
  }
  .rightline{
    width: 15px;
    height: 30px;
    background-color: yellow;
    margin: 5px 0;
  }