.mapContainer {
    background-image: url('/BG3.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh; /* Adjust the height as needed */
    color: white; /* Ensure text is visible */
    padding: 20px; /* Optional padding */
    
  }
  .orlando {
    position: absolute;
    top: 41%;
    left: 10%;
    width: 120px;
    height: 120px;
    background-color: black;  /* Background color for the pin */
    border-radius: 50% 50% 50% 0;  /* Map pin shape */
    transform: rotate(-45deg);  /* Rotate to point downwards */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);  /* Add shadow for effect */
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bounce 1.5s ease-in-out infinite, pulsate2 1.5s ease-in-out infinite; /* Add animations */
}

.mapLogo {
    width: 55px;
    height: 70px;
    border-color: 1px solid black;
    object-fit: cover;  /* Ensures the image covers the entire div without distortion */
    transform: rotate(45deg);  /* Corrects the rotation for the image */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: rotate(-45deg) translateY(0);
    }
    40% {
        transform: rotate(-45deg) translateY(-20px);
    }
    60% {
        transform: rotate(-45deg) translateY(-10px);
    }
}

@keyframes pulsate2 {
    0% {
        transform: scale(1) rotate(-45deg);
    }
    50% {
        transform: scale(1.1) rotate(-45deg);
    }
    100% {
        transform: scale(1) rotate(-45deg);
    }
}


  .infoDiv{
    position: absolute;
    top: 50%; /* Move it 50% down from the top */
  right: 0; /* Align it to the right */
  transform: translateY(-50%);
  }
 
  .workSection{
    width: 800px;
    margin-right: 40px;
    padding: 20px; 
    
  }
  .workPlace{
    color: #f5db0e;
    text-align: right;
    font-family: "Barlow Condensed";
    font-weight: 300;
  font-style: normal;
    font-size: 65.33px;
  }
  .workDescription{
    text-align: right;
    color: white;
    font-size: 20px;
    font-family: "Raleway Regular", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  }

  .workLine{
    position: absolute;
    top: 30px;
    right: 0px;
  }
  .rightline{
    width: 35px;
    height: 70px;
    background-color: #f5db0e;
    margin: 15px 0;
  }


  @media (max-width: 768px) {
    .workDescription{
      font-size: 20px;
    }
    .workSection{
      width: 400px;
      margin-right: 40px;
      padding: 5px; 
      
    }
  }
  @media (max-width: 1200px) {
    .workDescription{
      font-size: 24px;
    }
  }