.rates-container {
    background-image: url('/BG6.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    color: white; /* Ensure text is visible */
    padding: 20px; /* Optional padding */
    position: relative;
  }

  .aboutTopLine{
    position: absolute;
    top: -20px;
    right: 10px;
    display: flex;
    gap: 10px;
  }
  .aboutrightline{
    width: 15px;
    height: 90px;
    background-color: #f5db0e;
    margin: 5px 0;
  }
  .yellowBG{
    background-color: #f5db0e;
    padding: 30px;
    color: black;
    text-align: center;
    width: 425px;
    border-radius: 1.5rem /* 24px */;
  }
  
  .textColor{
    color: #f5db0e;
    font-size: 65.33px;
    font-family: "Barlow Condensed";
    font-weight: 500;
  }
  .textFont{
    font-family: "Barlow Condensed";
    font-size: 60.33px;
    font-weight: 300;
  }
  .textFontImg{
    font-family: "Barlow Condensed";
    font-size: 40.33px;
    font-weight: 500;
  }
  .ratesDescription{
    font-family: "Raleway";
    font-size: 1.25rem /* 20px */;
    line-height: 1.75rem /* 28px */;
    margin-top: 1.25rem /* 20px */;
    margin-bottom: 1.25rem /* 20px */;
    margin-left: 3rem /* 48px */;
  }
.ratesFirstHeading{
  font-size: 3.75rem /* 60px */;
    line-height: 1;
    margin-bottom: 1.25rem /* 20px */;
    margin-top: 2.5rem /* 40px */;
    margin-left: 3rem /* 48px */;
}
.ratesSecondHeading{
  font-size: 3rem /* 48px */;
    line-height: 1;
    margin-left: 3rem /* 48px */;
    margin-top: 2.5rem /* 40px */;
    margin-bottom: 2.5rem /* 40px */;
}
.diffRates{
  display: flex;
  justify-content: center;
  gap: 4rem /* 64px */;
  margin-bottom: 5rem /* 80px */;
}

  @media (max-width: 768px) {
    .aboutrightline{
      width: 10px;
    height: 50px;
    }
    .ratesFirstHeading{
      font-size: 32px;
        line-height: 1;
        margin-bottom: 10px;
        margin-top: 20px;
        margin-left: 10px;
    }
    .ratesSecondHeading{
      font-size: 28px;
        line-height: 1;
        margin-bottom: 10px;
        margin-top: 20px;
        margin-left: 10px;
    }
    .ratesDescription{
      font-size: 10px;
      line-height: 14px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 10px;
    }
    .diffRates{
      gap: 12px;
      margin-bottom: 40px;
    }

    .yellowBG{
      background-color: #f5db0e;
      padding: 10px;
      color: black;
      text-align: center;
      width: 175px;
      border-radius: 1.5rem /* 24px */;
    }

    .textFontImg{
      font-size: 10.33px;
    }
  }