.header-container {
  background-image: url('/BG1.jpg'); /* Reference your image */
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh; /* Adjust the height as needed */
  color: white;/* Optional padding */
  margin-bottom: 30px;
}
  
  .navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .headerLogo{
    width: 50px;
  }
  .nav-item {
    color: yellow;
    font-weight: 300;
  }
  
  
  .nav-item.button {
    background-color: yellow;
    padding-inline: 5px;
    border-radius: 5px;
    color: black;
  }
  
  .centered-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: yellow;
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
  }
  .vic{
    width: 700px;
  }
  .bookButtonArea{
    position: absolute;
    bottom: 20%;
    left: 45%;
  }
  .bookButton{
    background-color: yellow;
    color: black;
    margin-inline: auto;
    border-radius: 5px;
    padding-inline: 10px;
    font-weight: 700;
  }
  .bottom-lines {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
  }
  
  .line {
    width: 15px;
    height: 90px;
    background-color: yellow;
    margin: 5px 0;
    animation: pulsate 1s infinite, moveUp 2s infinite ease-in-out;
  }
  .language-dropdown {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 20px;
    z-index: 100; /* Ensures the dropdown stays above other elements */
  }
  
  .language-dropdown select {
    margin-left: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 2px;
    font-size: 20px;
    cursor: pointer;
    border-color: white;
  }

  .arrow-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column; /* Spacing between arrows */
    margin-top: 20px;
    gap: 20px;
  }
  
  .arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid yellow; /* Arrow color */
    margin: 5px;
    margin-inline: auto;
    animation: pulsate 1s infinite, moveUp 2s infinite ease-in-out;
  }

  @keyframes pulsate {
    0%, 100% {
      transform: scaleY(1);
      opacity: 1;
    }
    50% {
      transform: scaleY(1.5);
      opacity: 0.7;
    }
  }
  
  @keyframes moveUp {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }